body{
	margin:0;
	padding:0;
}

body > div{
	position:absolute;
	width:100vw;
	height:100vh;
	left:0;
	bottom:0;
	
}

.backdrop{
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;

background-image:url(https://img00.deviantart.net/a0f3/i/2013/193/f/0/magical_camping_by_blazi76-d6d53k2.jpg),radial-gradient(#FFF,#FAA);
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}

.backdrop.front{
  transition: opacity 0s;
  opacity:1;
}
.backdrop.front.hide{
  transition: opacity 3s;
  opacity:0;
}

/*.stage{
  left:3vw;
  bottom:-3vh;
  background-image:
	  url(https://s3.amazonaws.com/spoonflower/public/design_thumbnails/0464/6980/r12x12_Pixel_Block_Stone_NEW_DESIGN_2015_PRINT_FILE_shop_preview.png),
	  radial-gradient(#777,rgb(70, 43, 2));
  width:95vw;
  height:20vh;
  margin: 0 auto;
  background-repeat:no-repeat;
  background-size:cover;
  background-blend-mode:multiply;
  box-shadow:0 0 20px 5px rgba(22, 22, 22, 0.658);
  z-index:1;
  transform: perspective( 600px ) rotateX( 45deg );
}*/

.forground{
	position:absolute;
	left:0;
	bottom:0;
	width:100vw;
	height:100vh;

	display:grid;
	grid-template-columns:1fr;
	grid-template-rows:25% 75%;
	
}

.stage{
	grid-column:1;
	grid-row:2;

	display:grid;
	grid-template-columns: repeat(7,1fr);
	grid-template-rows: 75% 15% 10%;
	transform:translateY(4%) rotateX(10deg);
}

.floor{
	grid-column:1/8;
	grid-row:2/4;

	background-image:
	  url(https://s3.amazonaws.com/spoonflower/public/design_thumbnails/0464/6980/r12x12_Pixel_Block_Stone_NEW_DESIGN_2015_PRINT_FILE_shop_preview.png),
		radial-gradient(#777,rgb(70, 43, 2));
	
	background-repeat:no-repeat;
	background-size:cover;
	background-blend-mode:multiply;
	box-shadow:0 0 20px 5px rgba(22, 22, 22, 0.658);
  z-index:1;
  transform: perspective( 600px ) rotateX( 45deg );
}

.actor{
	grid-column:4;
	grid-row:1/3;

	display:grid;
	grid-template-rows:repeat(2,1fr);
	grid-template-columns:1fr;
	z-index:2;
}
.stage:not(.fight) .actor ~ .actor{
	grid-column:3;
}
.stage:not(.fight) .actor ~ .actor ~ .actor{
	grid-column:5;
}
.stage:not(.fight) .actor ~ .actor ~ .actor ~ .actor{
	grid-column:2;
}
.stage:not(.fight) .actor ~ .actor ~ .actor ~ .actor ~ .actor{
	grid-column:6;
}

.emoji{
	grid-column:1;
	grid-row:1;
}

.mini{
	grid-column:1;
	grid-row:2;	

	background-size:contain;
	background-position:bottom;
	background-repeat:no-repeat;
}


/*-----------------------initiative*/
.stage.fight .actor.acting{
	grid-column:4;
	transform: scale(1.5) translateY(-9vh);
}
.stage.fight .actor.acted{
	grid-column:2;
	transform: scale(0.8) translateY(6vh);
}
.stage.fight .actor.will_act{
	grid-column:6;
	transform: scale(0.8) translateY(6vh);
}
.stage.fight .actor:not(.acting):not(.acted):not(.will_act){
	grid-column:1;
	transform:scale(0.8) translateY(70vh);
}


.sketch--container{
	display:grid;
	grid-template-columns:20% 60% 20%;
	grid-template-rows:20% 60% 20%;
	background-color:rgba(0,0,0,.8);
}
.sketch--container.hide{
	opacity:0;
}
.sketch{
	grid-column:2;
	grid-row:2;

	background-image:url(http://aircampgames.com/wp-content/uploads/2016/08/2016-08-09-mars-003-1024x676.jpg);
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
}


.initiative_cover, test2{
	width:100vw;
	height:50vh;

	background-image:url(http://d3u67r7pp2lrq5.cloudfront.net/product_photos/20622315/rollforinitiative_original.png);
	z-index:10;
	background-repeat:no-repeat;
	background-color:rgb(51,51,51);
	background-size: 70vw 100vh;
}
.initiative_cover.top{
	bottom:inherit;
	top:-50vh;
	background-position:top;
}
.initiative_cover.bottom{
	top:inherit;
	bottom:-50vh;
	background-position:bottom;
}