/**********************PC Minis***************************/
.nell .mini{
	background-image:url('../images/sprites/pc/tythos/nell.png');
  }
.bree .mini{
  background-image:url('../images/sprites/pc/tythos/bree.png');
}
.umbar .mini{
  background-image:url('../images/sprites/pc/tythos/umbar.png');
}
.tophee .mini{
  background-image:url('../images/sprites/pc/tythos/tophee.png');
}
.ack .mini{
  background-image:url('../images/sprites/pc/tythos/ack.png');
}
.thaliss .mini{
  background-image:url('../images/sprites/pc/tythos/thaliss.png');
}
.fox .mini{
  background-image:url('../images/sprites/pc/tythos/fox2.png');
}

.thomas .mini{
  background-image:url('../images/sprites/pc/valdrin/thomas.png');
}
.garrik .mini{
  background-image:url('../images/sprites/pc/valdrin/garrik.png');
}
.morwen .mini{
  background-image:url('../images/sprites/pc/valdrin/morwen.png');
}


/**********************NPC Minis***************************/
.cloven .mini{
  background-image:url('../images/sprites/npc/nine.png');
}
.cloven .mini{
  background-image:url('../images/sprites/npc/cloven.png');
}
.jarkas .mini{
  background-image:url('../images/sprites/npc/jarkas.png');
}
.prin .mini{
  background-image:url('../images/sprites/npc/prin.png');
}
.leffy .mini{
  background-image:url('../images/sprites/npc/leffy.png');
}
.rona .mini{
  background-image:url('../images/sprites/npc/rona.png');
}
.leeroy .mini{
  background-image:url('../images/sprites/npc/leeroy.png');
}
.boy-common .mini{
  background-image:url('../images/sprites/npc/boy-common.png');
}
.girl-common .mini{
  background-image:url('../images/sprites/npc/girl-common.png');
}
.woman-common .mini{
  background-image:url('../images/sprites/npc/woman-common.png');
}
.man-common .mini{
  background-image:url('../images/sprites/npc/man-common.png');
}
.thalin .mini{
  background-image:url('../images/sprites/npc/thalin.png');
}

.bison .mini{
  background-image:url('http://www.pngmart.com/files/5/Bison-Transparent-Background.png');
}
.bison-art .mini{
  background-image:url('http://www.pngmart.com/files/5/Bison-PNG-Transparent-Image.png');
}

/**********************NPC Hostile Minis***************************/

.ghilanna .mini{
  background-image:url('../images/sprites/npc/hostile/ghilanna.png');
}
.necromancer-basic .mini{
  background-image:url('../images/sprites/npc/hostile/necromancer-basic.png');
}
.guard-basic .mini{
  background-image:url('../images/sprites/npc/hostile/guard-basic.png');
}
.thug .mini{
  background-image:url('../images/sprites/npc/hostile/thug.png');
}
.wolf .mini{
  background-image:url('../images/sprites/npc/hostile/wolf.png');
}
.wolf-black .mini{
  background-image:url('../images/sprites/npc/hostile/wolf-black.png');
}
.wolf-dire .mini{
  background-image:url('../images/sprites/npc/hostile/wolf-dire.png');
}
.willowwisps .mini{
  background-image:url('../images/sprites/npc/hostile/willowwisps.png');
}
.skeleton .mini{
  background-image:url('../images/sprites/npc/hostile/skeleton.png');
}
.minotaur-skeleton .mini{
  background-image:url('../images/sprites/npc/hostile/minotaur-skeleton.png');
}
.mage-evil .mini{
  background-image:url('../images/sprites/npc/hostile/mage-evil.png');
}
.guard .mini{
  background-image:url('../images/sprites/npc/hostile/gaurd.png');
}
.dwarf .mini{
  background-image:url('../images/sprites/npc/hostile/dwarf.png');
}
.ruffian .mini{
  background-image:url('../images/sprites/npc/hostile/ruffian.png');
}
.bandit .mini{
  background-image:url('../images/sprites/npc/hostile/bandit.png');
}
.bandit-captain .mini{
  background-image:url('../images/sprites/npc/hostile/bandit-captain.png');
}
.lymia .mini{
  background-image:url('../images/sprites/npc/hostile/lymia.png');
  transform:scaleX(-1) scale(2.5,2.5);
  margin-bottom:70%;
}

.kobold-acolyte .mini{
  background-image:url('../images/sprites/npc/hostile/kobold-acolyte.png');
}
.gnoll .mini{
  background-image:url('../images/sprites/npc/hostile/gnoll.png');
}
.goblin .mini{
  background-image:url('../images/sprites/npc/hostile/goblin.png');
}
.ogre-half .mini{
  background-image:url('../images/sprites/npc/hostile/ogre-half.png');
}
.hobgoblin .mini{
  background-image:url('../images/sprites/npc/hostile/hobgoblin.png');
}
.jacklewere .mini{
  background-image:url('../images/sprites/npc/hostile/jacklewere.png');
}
.kenku .mini{
  background-image:url('../images/sprites/npc/hostile/kenku.png');
}
.ogre .mini{
  background-image:url('../images/sprites/npc/hostile/ogre.png');
}
.kobold-priest .mini{
  background-image:url('../images/sprites/npc/hostile/kobold-priest.png');
}
.kobold-shield .mini{
  background-image:url('../images/sprites/npc/hostile/kobold-shield.png');
}
.kobold-winged .mini{
  background-image:url('../images/sprites/npc/hostile/kobold-winged.png');
}
.owlbear .mini{
  background-image:url('../images/sprites/npc/hostile/owlbear.png');
}

.animated-armor .mini{
  background-image:url('../images/sprites/npc/hostile/animated-armor.png');
}
.ankheg .mini{
  background-image:url('../images/sprites/npc/hostile/ankheg.png');
}
.dwarf-animated-armor .mini{
  background-image:url('../images/sprites/npc/hostile/dwarf-animated-armor.png');
}
.flying-sword .mini{
  background-image:url('../images/sprites/npc/hostile/flying-sword.png');
}
.rug-smothering .mini{
  background-image:url('../images/sprites/npc/hostile/rug-smothering.png');
}

.vathum .mini{
  background-image:url('../images/sprites/npc/hostile/vathum.png');
}
.evil-mage .mini{
  background-image:url('../images/sprites/npc/hostile/evil-mage.png');
}
.mimic .mini{
  background-image:url('../images/sprites/npc/hostile/mimic.png');
}


/**********************POKEMON Stand-ins Minis***************************/
.magnemite .mini{
  background-image:url('http://guidesmedia.ign.com/guides/059687/images/blackwhite/pokemans_081.gif');
}
.magneton .mini{
  background-image:url('http://guidesmedia.ign.com/guides/059687/images/blackwhite/pokemans_082.gif');
}
.magnezone .mini{
  background-image:url('http://guidesmedia.ign.com/guides/059687/images/blackwhite/pokemans_462.gif');
}

.klink .mini{
  background-image:url('http://guidesmedia.ign.com/guides/059687/images/blackwhite/pokemans_599.gif');
}
.klang .mini{
  background-image:url('http://guidesmedia.ign.com/guides/059687/images/blackwhite/pokemans_600.gif');
}
.klinklang .mini{
  background-image:url('http://guidesmedia.ign.com/guides/059687/images/blackwhite/pokemans_601.gif');
}

.gastly .mini{
  background-image:url('http://guidesmedia.ign.com/guides/059687/images/blackwhite/pokemans_092.gif');
}
.haunter .mini{
  background-image:url('http://guidesmedia.ign.com/guides/059687/images/blackwhite/pokemans_093.gif');
}
.gengar .mini{
  background-image:url('http://guidesmedia.ign.com/guides/059687/images/blackwhite/pokemans_094.gif');
}
.megagengar .mini{
  background-image:url('http://cdn.staticneo.com/w/pokemon/4/4c/MegaGengar.png');
}

