@keyframes join-stage {
	0% {transform: translate(-100vw, 30vh);width:0px;}
	60% {transform: translate(-70vw, 30vh);width:30vh;}
	100% {transform: translate(0vw);width:30vh;}
}

@keyframes leave-stage {
	0% {transform: scaleX(-1) translate(0vw);width:30vh;}
	60% {transform: scaleX(-1) translate(70vw, 30vh);width:30vh;}
	100% {transform: scaleX(-1) translate(100vw, 30vh);width:0px;}
}

@keyframes emoji-pop{
	0% {font-size:0rem;opacity:1;transform:translate(0,1rem);}
	
	45% {font-size:6rem;opacity:1;transform:translate(0,-.1rem);}
	100% {font-size:5rem;opacity:0;transform:translate(0,-2rem);}
}

*{
	margin:0;
	padding:0;
  font-family:arial;
  }
  
  body{
	background-color:rgba(240,240,220,1);
	display:grid;
	grid-template-columns:1fr;
	grid-template-rows:1fr;
	width:100vw;
	height:100vh;
  }
  
  #intro-background{
	margin-left:25vw;
	width:50vw;
	height:100vh;
	background-color:rgba(255,255,255,1);
	background-image:url('https://files.slack.com/files-pri/T5MRA9Z4L-F8Y16L71T/dnd_group.jpg');
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	
	display:flex;
	justify-content:flex-end;
	align-items:center;
  flex-direction: column;
	
	box-shadow:0px 0px .5vw .5vw rgba(100,100,0,.25);
  }
  
  #intro-background a{
	  color:rgba(100,100,0,.9);
    text-decoration:none;
  }
  #intro-background a:hover{
	  color:rgba(100,100,0,.3);
    text-decoration:none;
  }

.intro-spacer{
  height:21vh;
}

/*BOT SCREEN BEGIN*/
#stage-background{
	grid-column:1;
	grid-row:1;

	z-index:1;

	display:grid;
	grid-template-columns:100%;
	grid-template-rows:75% 5% 20%;
}

#stage-wall{
	grid-column:1;
	grid-row:1;


	background-image:radial-gradient(rgba(100,100,0,.3),rgba(100,100,0,.35));
	display:grid;
	grid-template-columns:20% 60% 20%;
	grid-template-rows:5% 90% 5%;
}

.stage-backdrop{
	grid-column:2;
	grid-row:2;

	background-image:url('');
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	border-top:1rem solid rgba(150,100,0,.6);
	border-left:1rem solid rgba(150,100,0,.5);
	border-right:1rem solid rgba(150,100,0,.7);
	border-bottom:1rem solid rgba(150,100,0,.8);
	box-shadow:0 0 .1rem .5rem rgba(109, 73, 0, 0.9) inset;
	border-radius:.5%;
}

.stage-backdrop.front{
  transition: opacity 0s;
  opacity:1;
}
.stage-backdrop.front.hide{
  transition: opacity 3s;
  opacity:0;
}

#stage-trim{
	grid-column:1;
	grid-row:2;
	border-top:.1rem solid rgba(150,100,0,.65);
	background-image:linear-gradient(rgba(150,100,0,.6),rgba(150,100,0,.55));
	
}

#stage-floor{
	grid-column:1;
	grid-row:3;
	background-image:linear-gradient(rgba(150,100,0,.2),rgba(150,100,0,.1));
	border-top:.1rem solid rgba(150,100,0,.25);	
}

#stage-foreground{
	grid-column:1;
	grid-row:1;

	z-index:2;
	display:grid;
	grid-template-rows:50% 10% 35% 5%;
	grid-template-columns:5% 90% 5%;
}

#stage-character_line{
	grid-column:2;
	grid-row:3;

	background-color:rgba(100,0,0,.0);
}


.emoji{
	width:15vw;
	height:40vh;
	max-height:20vw;
	max-width:35vh;

	font-size:0;
	display:flex;
	justify-content: center;
	align-items: flex-end;
	color:rgba(70,40,40,1);
	
}
.emoji.play{
	animation: emoji-pop 4s ease 1;
	animation-fill-mode: forwards;
}

.mini{

	display:inline-block;
	background-size:contain;
  background-repeat:no-repeat;
	background-position:bottom;

	width:15vw;
	height:40vh;
	max-height:20vw;
	max-width:35vh;
}

.pc,.npc{
	position:absolute;
	transition: transform 1s, left 6s, bottom 6s;
	transform:scaleX(-1);
}
.pc:not(.onstage){
	z-index: 20;
	left:-20vw;
	bottom:-35vh;
}
.npc:not(.onstage){
	z-index: 20;
	left:120vw;
	bottom:-35vh;
}


/*pc charater positions*/
.pc.onstage{
	transform: scaleX(1);

	left:30vw;
	bottom:3vh;
}
.pc.onstage ~ .pc.onstage{
	left:43vw;
	bottom:7vh;
}
.pc.onstage ~ .pc.onstage ~ .pc.onstage{
	left:60vw;
	bottom:3vh;
}
.npc + .pc.onstage{
	transform: scaleX(1);

	left:30vw;
	bottom:11vh;
}
.npc + .pc.onstage ~ .pc.onstage{
	left:20vw;
	bottom:5vh;
}
.npc + .pc.onstage ~ .pc.onstage ~ .pc.onstage{
	left:10vw;
	bottom:0vh;
}

.pc.turn{
	transform: scaleX(-1);
}

/*npc positions*/
.npc.onstage{
	transform: scaleX(1);
	left:75vw;
	bottom:5vh;
}
.npc.onstage ~ .npc.onstage{
	transform: scaleX(1);
	left:80vw;
	bottom:7vh;
}
.npc.onstage ~ .npc.onstage ~ .npc.onstage{
	transform: scaleX(1);
	left:85vw;
	bottom:5vh;
}
.npc.onstage ~ .npc.onstage ~ .npc.onstage ~ .npc.onstage{
	transform: scaleX(1);
	left:80vw;
	bottom:3vh;
}
.npc.onstage ~ .npc.onstage ~ .npc.onstage ~ .npc.onstage ~ .npc.onstage{
	transform: scaleX(1);
	left:71vw;
	bottom:7vh;
}
.npc.onstage ~ .npc.onstage ~ .npc.onstage ~ .npc.onstage ~ .npc.onstage ~ .npc.onstage{
	transform: scaleX(1);
	left:70vw;
	bottom:3vh;
}
.npc.onstage ~ .npc.onstage ~ .npc.onstage ~ .npc.onstage ~ .npc.onstage ~ .npc.onstage ~ .npc.onstage{
	transform: scaleX(1);
	left:65vw;
	bottom:5vh;
}
.npc.onstage ~ .npc.onstage ~ .npc.onstage ~ .npc.onstage ~ .npc.onstage ~ .npc.onstage ~ .npc.onstage ~ .npc.onstage{
	transform: scaleX(1);
	left:62vw;
	bottom:1vh;
}
.npc.onstage ~ .npc.onstage ~ .npc.onstage ~ .npc.onstage ~ .npc.onstage ~ .npc.onstage ~ .npc.onstage ~ .npc.onstage ~ .npc.onstage{
	transform: scaleX(1);
	left:75vw;
	bottom:0vh;
}
.npc.onstage ~ .npc.onstage ~ .npc.onstage ~ .npc.onstage ~ .npc.onstage ~ .npc.onstage ~ .npc.onstage ~ .npc.onstage ~ .npc.onstage ~ .npc.onstage{
	transform: scaleX(1);
	left:87vw;
	bottom:0vh;
}

.nell .mini{
  background-image:url('../images/sprites/nell.png');
	transform: scaleX(-1);
}

.ack .mini{
  background-image:url('../images/sprites/ack.png');
  transform: scaleX(-1);
}

.thaliss .mini{
  background-image:url('../images/sprites/thaliss.png');
  transform: scaleX(-1);
}
.thalin .mini{
	background-image:url('../images/sprites/thalin.png');
	transform: scale(.7, .7);
}
.thomas .mini{
	background-image:url('../images/sprites/thomasphase1.png');
}
.garrik .mini{
	background-image:url('../images/sprites/garrikphase1.png');
}
.mvex .mini{
	background-image:url('../images/sprites/mvexphase1.png');
}
.baddie.mini{
	background-image:url('../images/sprites/baddie.png');
	transform: scaleX(-1) scale(.8, .8);
}
.soldier .mini{
	background-image:url('../images/sprites/basicGaurd.png');
}

#sketch--container{
	position:absolute;
	left:0;
	top:0;

	width:100vw;
	height:100vh;

	display:grid;
	grid-template-columns:10% 1fr 10%;
	grid-template-rows:10% 1fr 10%;

	z-index: 15;
	background-color: rgba(160,165,160,.7);
	transition: opacity 3s;
}
#sketch--container.hide{
	opacity:0;
}
#sketch-cover{
	grid-column:2;
	grid-row:2;

	background-position:center;
	background-size:contain;
	background-repeat:no-repeat;
}

/* BOT SCREEN END*/