*{
	margin:0;
	padding:0;
  font-family:arial;
  }
  
  body{
	background-color:rgba(240,240,220,1);
  }
  
  #background{
	margin-left:25vw;
	width:50vw;
	height:100vh;
	background-color:rgba(255,255,255,1);
	background-image:url('https://files.slack.com/files-pri/T5MRA9Z4L-F8Y16L71T/dnd_group.jpg');
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	
	display:flex;
	justify-content:flex-end;
	align-items:center;
  flex-direction: column;
	
	box-shadow:0px 0px .5vw .5vw rgba(100,100,0,.25);
  }
  
  #background a{
	  color:rgba(100,100,0,.9);
    text-decoration:none;
  }
  #background a:hover{
	  color:rgba(100,100,0,.3);
    text-decoration:none;
  }

.spacer{
  height:21vh;
}