@keyframes join-stage {
	0% {transform: translate(-100vw, 30vh);width:0px;}
	60% {transform: translate(-70vw, 30vh);width:30vh;}
	100% {transform: translate(0vw);width:30vh;}
}

@keyframes leave-stage {
	0% {transform: scaleX(-1) translate(0vw);width:30vh;}
	60% {transform: scaleX(-1) translate(70vw, 30vh);width:30vh;}
	100% {transform: scaleX(-1) translate(100vw, 30vh);width:0px;}
}

*{
	margin:0;
	padding:0;
  font-family:arial;
  }
  
  body{
	background-color:rgba(240,240,220,1);
	display:grid;
	grid-template-columns:1fr;
	grid-template-rows:1fr;
	width:100vw;
	height:100vh;
  }
  
  #intro-background{
	margin-left:25vw;
	width:50vw;
	height:100vh;
	background-color:rgba(255,255,255,1);
	background-image:url('https://files.slack.com/files-pri/T5MRA9Z4L-F8Y16L71T/dnd_group.jpg');
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	
	display:flex;
	justify-content:flex-end;
	align-items:center;
  flex-direction: column;
	
	box-shadow:0px 0px .5vw .5vw rgba(100,100,0,.25);
  }
  
  #intro-background a{
	  color:rgba(100,100,0,.9);
    text-decoration:none;
  }
  #intro-background a:hover{
	  color:rgba(100,100,0,.3);
    text-decoration:none;
  }

.intro-spacer{
  height:21vh;
}

/*bot screen*/
#stage-background{
	grid-column:1;
	grid-row:1;

	z-index:1;

	display:grid;
	grid-template-columns:100%;
	grid-template-rows:75% 5% 20%;
}

#stage-wall{
	grid-column:1;
	grid-row:1;


	background-image:radial-gradient(rgba(100,100,0,.3),rgba(100,100,0,.35));
	display:grid;
	grid-template-columns:20% 60% 20%;
	grid-template-rows:5% 90% 5%;
}

.stage-backdrop{
	grid-column:2;
	grid-row:2;

	background-image:url('');
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	border-top:1rem solid rgba(150,100,0,.6);
	border-left:1rem solid rgba(150,100,0,.5);
	border-right:1rem solid rgba(150,100,0,.7);
	border-bottom:1rem solid rgba(150,100,0,.8);
	box-shadow:0 0 .1rem .5rem rgba(109, 73, 0, 0.9) inset;
	border-radius:.5%;
}

.stage-backdrop.front{
  transition: opacity 0s;
  opacity:1;
}
.stage-backdrop.front.hide{
  transition: opacity 3s;
  opacity:0;
}

#stage-trim{
	grid-column:1;
	grid-row:2;
	border-top:.1rem solid rgba(150,100,0,.65);
	background-image:linear-gradient(rgba(150,100,0,.6),rgba(150,100,0,.55));
	
}

#stage-floor{
	grid-column:1;
	grid-row:3;
	background-image:linear-gradient(rgba(150,100,0,.2),rgba(150,100,0,.1));
	border-top:.1rem solid rgba(150,100,0,.25);	
}

#stage-foreground{
	grid-column:1;
	grid-row:1;

	z-index:2;
	display:grid;
	grid-template-rows:50% 10% 35% 5%;
	grid-template-columns:5% 90% 5%;
}

#stage-character_line{
	grid-column:2;
	grid-row:3;

	background-color:rgba(100,0,0,.1);
	display:flex;
	justify-content: center;
	align-content: center;
	align-items: flex-end;
}


.emoji{
	width:15rem;
	height:16rem;
	background-color:red;

	display:flex;
	justify-content: center;
	align-items: flex-end;
	
}

.mini{

	display:inline-block;
	background-size:contain;
  background-repeat:no-repeat;
	background-position:bottom;

	width:15rem;
	height:16rem;
	background-color:green;
}
.pc:not(.onstage){
	animation: leave-stage 3s ease 1;
	animation-fill-mode: forwards;
}
pc.onstage{
	animation: join-stage 3s ease 1;
	animation-fill-mode: forwards;
}

.nell .mini{
  background-image:url('../images/sprites/nell.png');
	transform: scaleX(-1);
}

.ack .mini{
  background-image:url('../images/sprites/ack.png');
  transform: scaleX(-1);
}

.thaliss .mini{
  background-image:url('../images/sprites/thaliss.png');
  transform: scaleX(-1);
}
.thalin .mini{
	background-image:url('../images/sprites/thalin.png');
	transform: scale(.7, .7);
}
.thomas .mini{
	background-image:url('../images/sprites/Thomas.png');
}
.garrik .mini{
	background-image:url('../images/sprites/Garrik.png');
}
.mvex .mini{
	background-image:url('../images/sprites/Maura.png');
}
.baddie.mini{
	background-image:url('../images/sprites/baddie.png');
	transform: scaleX(-1) scale(.8, .8);
}

#sketch--container{
	position:absolute;
	left:0;
	top:0;

	width:100vw;
	height:100vh;

	display:grid;
	grid-template-columns:10% 1fr 10%;
	grid-template-rows:10% 1fr 10%;

	z-index: 15;
	background-color: rgba(160,165,160,.7);
	transition: opacity 3s;
}
#sketch--container.hide{
	opacity:0;
}
#sketch-cover{
	grid-column:2;
	grid-row:2;

	background-position:center;
	background-size:contain;
	background-repeat:no-repeat;
}